html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p,
ul,
figure {
  margin: 0;
}

/* header */
.header {
  margin-bottom: 20px;
  border-bottom: 1px solid #007bff;
}

.header__container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__title {
  margin-bottom: 20px;
  text-align: center;
}

.header__button {
  margin-bottom: 15px;
}

.header__btn {
  margin-right: 5px;
}

/* header__form-add */
.header__add {
  display: none;
  position: relative;
  border-bottom: 1px solid #007bff;
  margin-bottom: 10px;
}

.header__list-add {
  flex-direction: row;
  margin-bottom: 10px;
}

.list-group-item {
  border: none;
}

.header__lable {
  margin-bottom: 5px;
}

.header__from-btn-add {
  width: 100%;
}

.header__bad {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: rgba(128, 128, 128, 0.5);
}

.header__bad-img {
  margin-bottom: 2px;
}

.header__bad-txt {
  display: block;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
}

.header__btn-bad {
  margin-bottom: 10px;
}

/* header__form-search */
.header__search {
  display: none;
}

.header__list-search {
  flex-direction: row;
}

.header__form-btn-search {
  width: 100%;
}

/* main */
.main__title {
  margin-bottom: 20px;
}

/* table */

.main__thead {
  cursor: pointer;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.main__thead:hover {
  color: #fff;
  background-color: #0d6efd;
}

.main__thead:active {
  color: #fff;
  background-color: #003b92;
}

.main__thead-hidden {
  display: none;
}

.main__thead-visabilite {
  display: table-row;
}
